# SPDX-FileCopyrightText: 2024 Emulsion contributors <https://github.com/codingteam/emulsion>
#
# SPDX-License-Identifier: MIT

/.idea/
/.vscode/
/logs/

bin/
obj/
node_modules/

emulsion.json

*.db
*.db-shm
*.db-wal
*.user

.fake
.ionide
