language: csharp
os: linux
dist: trusty
env:
    global:
        - DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1
        - DOTNET_CLI_TELEMETRY_OPTOUT=1
dotnet: 2.0.0
script:
    - dotnet build
    - dotnet test Emulsion.Tests
