# SPDX-FileCopyrightText: 2025 Emulsion contributors <https://github.com/codingteam/emulsion>
#
# SPDX-License-Identifier: MIT

name: Main
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: '0 0 * * 6'

jobs:
  main:
    strategy:
      matrix:
        environment:
          - name: macos
            image: macos-15
          - name: linux
            image: ubuntu-24.04
          - name: windows
            image: windows-2025
    name: main.${{ matrix.environment.name }}
    runs-on: ${{ matrix.environment.image }}
    env:
      DOTNET_NOLOGO: 1
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      NUGET_PACKAGES: ${{ github.workspace }}/.github/nuget-packages
    steps:
      - uses: actions/checkout@v6
      - name: Set up .NET SDK
        uses: actions/setup-dotnet@v5

      - if: runner.os != 'macOS' # TODO[#430]: Re-enable this back after https://github.com/actions/runner-images/issues/13341
                                 #             is resolved.
        name: NuGet cache
        uses: actions/cache@v5
        with:
          path: ${{ env.NUGET_PACKAGES }}
          key: ${{ runner.os }}.nuget.${{ hashFiles('**/*.*proj') }}
      - name: Build
        run: dotnet build
      - name: Test
        run: dotnet test
        timeout-minutes: 10
  encoding:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Verify encoding
        shell: pwsh
        run: scripts/Test-Encoding.ps1
  licenses:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out the sources
        uses: actions/checkout@v6
      - name: REUSE license check
        uses: fsfe/reuse-action@v6
